.mainHeading {
  background-color: lightblue;
  text-align: center;
}
.logo {
  color: red;
  font-size: 70px;
  font-family: "Kaushan Script", cursive;
  padding-bottom: 15px;
  padding-top: 20px;
}
.description {
  color: white;
  font-size: 40px;
  font-family: "Istok Web", sans-serif;
}
